<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.1415926535897931"/>

  <xacro:macro name="rgb_camera" params="
    prefix:=''
    camera_name:='camera'
    parent:='base_link'

    xyz_offset:='0.15 0 0.08'
    rpy_offset:='0 0 0'

    mesh_file:=''
    mesh_xyz_offset:='0 0 0'
    mesh_rpy_offset:='0 0 0'

    cam_width:=0.03
    cam_height:=0.03
    cam_depth:=0.009

    material_name:='red'
    material_color:='1 0 0 1'

    horizontal_fov:=1.089
    image_width:=640
    image_height:=480

    clip_near:=0.05
    clip_far:=8.0

    update_rate:=10
    always_on:=true
    visualize:=true
    topic:='cam_1/image_raw'
    camera_info_topic:='cam_1/camera_info'
  ">

    <!-- ========================= -->
    <!-- Camera Body -->
    <!-- ========================= -->

    <link name="${prefix}${camera_name}_link">

      <visual>

        <origin
          xyz="${mesh_xyz_offset}"
          rpy="${mesh_rpy_offset}"/>

        <xacro:if value="${mesh_file != ''}">
          <geometry>
            <mesh filename="${mesh_file}"/>
          </geometry>
        </xacro:if>

        <xacro:unless value="${mesh_file != ''}">
          <geometry>
            <box
              size="${cam_depth} ${cam_width} ${cam_height}"/>
          </geometry>
        </xacro:unless>

        <material name="${material_name}">
          <color rgba="${material_color}"/>
        </material>

      </visual>

    </link>


    <!-- ========================= -->
    <!-- Camera Mount Joint -->
    <!-- ========================= -->

    <joint
      name="${prefix}${camera_name}_joint"
      type="fixed">

      <parent link="${prefix}${parent}"/>

      <child link="${prefix}${camera_name}_link"/>

      <origin
        xyz="${xyz_offset}"
        rpy="${rpy_offset}"/>

    </joint>


    <!-- ========================= -->
    <!-- Optical Frame -->
    <!-- ========================= -->

    <joint
      name="${prefix}${camera_name}_optical_joint"
      type="fixed">

      <parent link="${prefix}${camera_name}_link"/>

      <child link="${prefix}${camera_name}_optical"/>

      <origin
        xyz="0 0 0"
        rpy="${-M_PI/2} 0 ${-M_PI/2}"/>

    </joint>

    <link name="${prefix}${camera_name}_optical"/>


    <!-- ========================= -->
    <!-- Gazebo RGB Camera -->
    <!-- ========================= -->

    <gazebo reference="${prefix}${camera_name}_link">

      <material>Gazebo/Red</material>

      <sensor
        name="${prefix}${camera_name}"
        type="camera">

        <pose>0 0 0 0 0 0</pose>

        <always_on>${always_on}</always_on>

        <visualize>${visualize}</visualize>

        <update_rate>${update_rate}</update_rate>

        <camera>

          <camera_info_topic>${camera_info_topic}</camera_info_topic>

          <horizontal_fov>${horizontal_fov}</horizontal_fov>

          <image>

            <format>R8G8B8</format>

            <width>${image_width}</width>

            <height>${image_height}</height>

          </image>

          <clip>

            <near>${clip_near}</near>

            <far>${clip_far}</far>

          </clip>

        </camera>

        <topic>${topic}</topic>

        <gz_frame_id>
          ${prefix}${camera_name}_optical
        </gz_frame_id>

      </sensor>

    </gazebo>

  </xacro:macro>

</robot>