<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="ultrasonic_sensor" params="
    prefix:=''
    sensor_name:='ultrasonic'
    parent:='base_link'
    xyz_offset:='0 0 0'
    rpy_offset:='0 0 0'
    sensor_radius:=0.01
    sensor_length:=0.02
    material_name:='black'
    material_color:='0 0 0 1'
    topic_name:='ultrasonic/scan'
    update_rate:=10
    min_range:=0.02
    max_range:=4.0
  ">

  <link name="${prefix}${sensor_name}">
    <visual>
      <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
      <geometry>
        <cylinder radius="${sensor_radius}" length="${sensor_length}"/>
      </geometry>
      <material name="${material_name}">
        <color rgba="${material_color}"/>
      </material>
    </visual>
  </link>

  <joint name="${prefix}${sensor_name}_joint" type="fixed">
    <parent link="${prefix}${parent}"/>
    <child link="${prefix}${sensor_name}"/>
    <origin xyz="${xyz_offset}" rpy="${rpy_offset}"/>
  </joint>

  <gazebo reference="${prefix}${sensor_name}">
    <sensor name="${prefix}${sensor_name}" type="gpu_lidar">
      <always_on>true</always_on>
      <visualize>true</visualize>
      <update_rate>${update_rate}</update_rate>
      <topic>${topic_name}</topic>
      <gz_frame_id>${prefix}${sensor_name}</gz_frame_id>
      <lidar>
        <scan>
          <horizontal>
            <samples>5</samples>
            <resolution>1</resolution>
            <min_angle>-0.13</min_angle>
            <max_angle>0.13</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>${min_range}</min>
          <max>${max_range}</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </lidar>
    </sensor>
  </gazebo>

</xacro:macro>
</robot>