<?xml version="1.0"?>

<robot
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="benzene">

  <!-- =========================================================
       CONSTANTS
       ========================================================= -->

  <xacro:property
    name="M_PI"
    value="3.1415926535897931"/>


  <!-- =========================================================
       ARGUMENTS
       ========================================================= -->

  <xacro:arg
    name="robot_name"
    default="benzene"/>

  <xacro:arg
    name="prefix"
    default=""/>

  <xacro:arg
    name="use_gazebo"
    default="false"/>


  <!-- =========================================================
       MECHANICAL COMPONENTS
       ========================================================= -->

  <xacro:include
    filename="$(find benzene_description)/urdf/mech/base.urdf.xacro"/>

  <xacro:include
    filename="$(find benzene_description)/urdf/mech/wheel.urdf.xacro"/>


  <!-- =========================================================
       SENSORS
       ========================================================= -->

  <!-- Camera disabled for now -->
  <!--
  <xacro:include
    filename="$(find benzene_description)/urdf/sensors/camera.urdf.xacro"/>
  -->

  <xacro:include
    filename="$(find benzene_description)/urdf/sensors/lidar.urdf.xacro"/>

  <xacro:include
    filename="$(find benzene_description)/urdf/sensors/imu.urdf.xacro"/>


  <!-- =========================================================
       BASE
       ========================================================= -->

  <xacro:base
    prefix="$(arg prefix)"/>


  <!-- =========================================================
       LEFT DRIVE WHEEL
       ========================================================= -->

  <xacro:wheel
    prefix="$(arg prefix)"
    side="left"
    x_reflect="1"
    y_reflect="1"/>


  <!-- =========================================================
       RIGHT DRIVE WHEEL
       ========================================================= -->

  <xacro:wheel
    prefix="$(arg prefix)"
    side="right"
    x_reflect="1"
    y_reflect="-1"/>


  <!-- =========================================================
       LIDAR
       ========================================================= -->

  <xacro:lidar_sensor
    prefix="$(arg prefix)"
    parent="base_link"
    frame_id="laser_frame"
    xyz_offset="-0.06 0 0.096"
    rpy_offset="0 0 0"
    mesh_xyz_offset="0 0 0"
    mesh_rpy_offset="0 0 0"
    topic_name="scan"/>


  <!-- =========================================================
       IMU
       ========================================================= -->

  <xacro:imu_sensor
    prefix="$(arg prefix)"
    parent="base_link"
    frame_id="imu"
    xyz_offset="0 0 0.006"
    rpy_offset="0 0 0"
    update_rate="15.0"
    topic_name="imu/data"/>


  <!-- =========================================================
       FRONT CASTER WHEEL
       ========================================================= -->

  <joint
    name="$(arg prefix)front_caster_wheel_joint"
    type="fixed">

    <parent link="$(arg prefix)base_link"/>

    <child link="$(arg prefix)front_caster_wheel"/>

    <!-- Same position as original articubot_two -->

    <origin
      xyz="0.12 0 0"
      rpy="0 0 0"/>

  </joint>


  <link name="$(arg prefix)front_caster_wheel">

    <!-- VISUAL -->

    <visual>

      <origin
        xyz="0 0 0"
        rpy="0 0 0"/>

      <geometry>

        <sphere
          radius="0.01495"/>

      </geometry>

      <material name="caster_black">

        <color
          rgba="0 0 0 1"/>

      </material>

    </visual>


    <!-- COLLISION -->

    <collision>

      <origin
        xyz="0 0 0"
        rpy="0 0 0"/>

      <geometry>

        <sphere
          radius="0.01495"/>

      </geometry>

    </collision>


    <!-- INERTIAL -->

    <xacro:inertial_sphere mass="0.1" radius="0.01495">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:inertial_sphere>

  </link>


  <!-- GAZEBO -->

  <gazebo
    reference="$(arg prefix)front_caster_wheel">

    <material>
      <ambient>0 0 0 1</ambient>
      <diffuse>0 0 0 1</diffuse>
      <specular>0 0 0 1</specular>
    </material>

    <mu1>0.0001</mu1>
    <mu2>0.0001</mu2>

  </gazebo>


  <!-- =========================================================
       REAR CASTER WHEEL
       ========================================================= -->

  <joint
    name="$(arg prefix)back_caster_wheel_joint"
    type="fixed">

    <parent link="$(arg prefix)base_link"/>

    <child link="$(arg prefix)back_caster_wheel"/>

    <!-- Same position as original articubot_two -->

    <origin
      xyz="-0.12 0 0"
      rpy="0 0 0"/>

  </joint>


  <link name="$(arg prefix)back_caster_wheel">

    <!-- VISUAL -->

    <visual>

      <origin
        xyz="0 0 0"
        rpy="0 0 0"/>

      <geometry>

        <sphere
          radius="0.01495"/>

      </geometry>

      <material name="caster_black">

        <color
          rgba="0 0 0 1"/>

      </material>

    </visual>


    <!-- COLLISION -->

    <collision>

      <origin
        xyz="0 0 0"
        rpy="0 0 0"/>

      <geometry>

        <sphere
          radius="0.01495"/>

      </geometry>

    </collision>


    <!-- INERTIAL -->

    <xacro:inertial_sphere mass="0.1" radius="0.01495">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:inertial_sphere>

  </link>


  <!-- GAZEBO -->

  <gazebo
    reference="$(arg prefix)back_caster_wheel">

    <material>
      <ambient>0 0 0 1</ambient>
      <diffuse>0 0 0 1</diffuse>
      <specular>0 0 0 1</specular>
    </material>

    <mu1>0.0001</mu1>
    <mu2>0.0001</mu2>

  </gazebo>


</robot>