<?xml version="1.0"?>

<robot name="benzene" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="robot_name" default="benzene"/>
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="use_gazebo" default="false"/>

  <xacro:property name="base_length" value="0.340"/>
  <xacro:property name="base_width"  value="0.240"/>
  <xacro:property name="base_height" value="0.08"/>
  <xacro:property name="base_mass"   value="5.0"/>

  <xacro:property name="wheel_radius" value="0.035"/>
  <xacro:property name="wheel_width"  value="0.020"/>
  <xacro:property name="wheel_mass"   value="0.20"/>

  <xacro:property name="caster_radius" value="0.015"/>
  <xacro:property name="caster_mass"   value="0.05"/>

  <xacro:include filename="$(find benzene_description)/urdf/sensors/lidar.xacro"/>
  <xacro:include filename="$(find benzene_description)/urdf/sensors/simple_camera.xacro"/>
  <xacro:include filename="$(find benzene_description)/urdf/sensors/imu.xacro"/>
  <xacro:include filename="$(find benzene_description)/urdf/sensors/ultrasonic_sensor.xacro"/>

  <xacro:include filename="$(find benzene_description)/urdf/mech/caster.xacro"/>
  <xacro:include filename="$(find benzene_description)/urdf/mech/wheel.xacro"/>
  <xacro:include filename="$(find benzene_description)/urdf/mech/base.xacro"/>

  <xacro:base
    prefix="$(arg prefix)"
    base_name="base"
    parent="base_footprint"
    xyz_offset="0 0 0"
    rpy_offset="0 0 0"
    base_length="${base_length}"
    base_width="${base_width}"
    base_height="${base_height}"
    base_mass="${base_mass}"/>

  <xacro:lidar_sensor
    prefix="$(arg prefix)"
    parent="base_link"
    frame_id="laser_frame"
    xyz_offset="0 0 0.08"
    rpy_offset="0 0 0"
    mesh_xyz_offset="0 0 -0.01"
    mesh_rpy_offset="0 0 0"
    topic_name="scan"/>

  <xacro:imu_sensor
    prefix="$(arg prefix)"
    parent="base_link"
    frame_id="imu"
    xyz_offset="0.15 0.06 0"
    rpy_offset="0 0 0"
    update_rate="15.0"
    topic_name="imu/data"/>

  <xacro:simple_camera
    camera_name="cam_1"
    parent="base_link"
    xyz_offset="0.17 0 0.03"
    rpy_offset="0 0 0"
    image_width="640"
    image_height="480"
    horizontal_fov="1.089"
    update_rate="30"
    topic="cam_1/image_raw"
    camera_info_topic="cam_1/camera_info"/>

  <xacro:caster_wheel
    prefix="$(arg prefix)"
    caster_name="front_caster_wheel"
    parent="base_link"
    xyz_offset="0.13 0 0"
    rpy_offset="0 0 0"
    caster_radius="${caster_radius}"
    caster_mass="${caster_mass}"/>

  <xacro:caster_wheel
    prefix="$(arg prefix)"
    caster_name="back_caster_wheel"
    parent="base_link"
    xyz_offset="-0.13 0 0"
    rpy_offset="0 0 0"
    caster_radius="${caster_radius}"
    caster_mass="${caster_mass}"/>

  <xacro:wheel
    prefix="$(arg prefix)"
    wheel_name="left_wheel"
    parent="base_link"
    xyz_offset="0 0.0925 0.020"
    rpy_offset="0 0 0"
    axis="0 1 0"
    wheel_radius="${wheel_radius}"
    wheel_width="${wheel_width}"
    wheel_mass="${wheel_mass}"/>

  <xacro:wheel
    prefix="$(arg prefix)"
    wheel_name="right_wheel"
    parent="base_link"
    xyz_offset="0 -0.0925 0.020"
    rpy_offset="0 0 0"
    axis="0 1 0"
    wheel_radius="${wheel_radius}"
    wheel_width="${wheel_width}"
    wheel_mass="${wheel_mass}"/>

  <xacro:ultrasonic_sensor
    prefix="$(arg prefix)"
    sensor_name="ultrasonic_link"
    parent="base_link"
    xyz_offset="0.175 0 0.055"
    rpy_offset="0 0 0"
    topic_name="ultrasonic_link/data"/>

  <xacro:include filename="$(find benzene_description)/urdf/control/gazebo_sim_ros2_control.urdf.xacro"/>
  <xacro:load_gazebo_sim_ros2_control_plugin robot_name="$(arg robot_name)" use_gazebo="$(arg use_gazebo)"/>
  <xacro:include filename="$(find benzene_description)/urdf/control/velocity_control_plugin.urdf.xacro"/>
  <xacro:load_velocity_control_plugin use_gazebo="$(arg use_gazebo)"/>
  <xacro:include filename="$(find benzene_description)/urdf/control/benzene_control.urdf.xacro"/>
  <xacro:benzene_ros2_control prefix="$(arg prefix)" use_gazebo="$(arg use_gazebo)"/>

</robot>