<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find benzene_description)/urdf/mech/inertial_macros.xacro" />

  <!-- =========================
       BASE DIMENSIONS
       ========================= -->

  <xacro:property name="base_length" value="0.300"/>
  <xacro:property name="base_width" value="0.19940"/>
  <xacro:property name="base_height" value="0.040"/>

  <xacro:property name="base_mass" value="4.6"/>

  <!-- =========================
       BASE MACRO
       ========================= -->

  <xacro:macro name="base" params="prefix">

    <!-- BASE FOOTPRINT -->

    <link name="${prefix}base_footprint"/>

    <!-- BASE LINK -->

    <link name="${prefix}base_link">

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>

        <geometry>
          <mesh
            filename="file://$(find benzene_description)/meshes/benzene/visual/chassis.stl"
            scale="0.001 0.001 0.001"/>
        </geometry>

        <material name="green">
          <color rgba="0 0.7 0 1"/>
        </material>
      </visual>

      <collision>
        <geometry>
          <mesh
            filename="file://$(find benzene_description)/meshes/benzene/visual/chassis.stl"
            scale="0.001 0.001 0.001"/>
        </geometry>

        <origin
          xyz="0 0 0"
          rpy="0 0 0"/>
      </collision>

      <xacro:inertial_box mass="1.0" x="0.24" y="0.18" z="0.04">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>

    </link>

    <!-- BASE FOOTPRINT -> BASE LINK -->

    <joint
      name="${prefix}base_footprint_joint"
      type="fixed">

      <parent link="${prefix}base_footprint"/>
      <child link="${prefix}base_link"/>

      <origin
        xyz="0 0 0"
        rpy="0 0 0"/>

    </joint>

    <!-- GAZEBO MATERIAL -->

    <gazebo reference="${prefix}base_link">

      <visual>
        <material>
          <ambient>0 0.7 0 1</ambient>
          <diffuse>0 0.7 0 1</diffuse>
          <specular>0 0.7 0 1</specular>
        </material>
      </visual>

    </gazebo>

  </xacro:macro>

</robot>